<!-- Resources -->
<script src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
<script src="stock-tracker.js" `SameSite=None` `Secure`></script>
<link rel="stylesheet" href="site.css">

<!-- HTML -->
<div id="controls" style="width: 100%; overflow: hidden;">

  <div style="float: left; margin-left: 15px;">
  From: <input type="text" id="fromfield" class="amcharts-input" />
  To: <input type="text" id="tofield" class="amcharts-input" />
  </div>

  <div style="float: right; margin-right: 15px;">
    <button id="b1m" class="amcharts-input">1m</button>
    <button id="b3m" class="amcharts-input">3m</button>
    <button id="b6m" class="amcharts-input">6m</button>
    <button id="b1y" class="amcharts-input">1y</button>
    <button id="bytd" class="amcharts-input">YTD</button>
    <button id="bmax" class="amcharts-input">MAX</button>
  </div>
  
</div>
<div id="chartdiv"></div>
